<%= form_with(model: case, local: true) do |form| %>
  <% if case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(case.errors.count, "error") %> prohibited this case from being saved:</h2>

      <ul>
        <% case.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :owner_id %>
    <%= form.number_field :owner_id %>
  </div>

  <div class="field">
    <%= form.label :patient_id %>
    <%= form.number_field :patient_id %>
  </div>

  <div class="field">
    <%= form.label :referring_doctor_id %>
    <%= form.number_field :referring_doctor_id %>
  </div>

  <div class="field">
    <%= form.label :technition_id %>
    <%= form.text_field :technition_id %>
  </div>

  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.number_field :doctor_id %>
  </div>

  <div class="field">
    <%= form.label :ended %>
    <%= form.date_select :ended %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
