@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
.navbar {
    border-bottom: 1px solid #46A0D4;
    background-color: #46A0D4 !important;
    color: white !important;
    box-shadow: 0px 0px 5px #000000;
}

.nav-link {
    color: black !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.main-container {
    background-color: #0a0a02;
    box-shadow: 0px 0px 1px #000000;
    padding-top: 3vh;
}

.panel-heading {
    margin-bottom: 5px;
}

body {
    font-size: 0.8rem;
}

.thead-light {
    background-color: #46A0D4 !important;
}