<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="title">Title</label>
    <%= form.text_field :title ,{:class => 'form-control'}%>
  </div>

  <div class="form-group">
    <label for="default_price">Default Price</label>
    <%= form.number_field :default_price ,{:class => 'form-control'}%>
  </div>

  <div class="form-check">
    
    <%= form.check_box :available ,{:class => 'form-check-input', :id => 'available'} %>
    <label class="form-check-label" for="available">Available</label>
  </div>

  <div class="actions">
    <%= form.submit 'Create Item' , :class => 'mt-2 btn btn-primary'%>
  </div>
<% end %>
