



<p id="notice"><%= notice %></p>
<div class="col-lg-12">
        	<div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                <h3 class="col-11">Items</h3>
                <button  class='btn btn-success' style="border-radius: 50%;line-height: 0px;color:white"><a style="color:white;" href=<%=new_item_path%>><i class="material-icons">add</i></a></button>
                
                </div>
            </div>
            <div class="panel-body">
<table class="table table-condensed" style="border-collapse:collapse;">

    <thead >
        <tr>
        <th>Title</th>
      <th>Default price</th>
      <th>Available</th>
      <th colspan="3"></th>

        </tr>
    </thead>

    <tbody class="table-striped table-hover"> 
      <% @items.each do |item| %>        
          

        
        <tr>
             <td><%= item.title %></td>
        <td><%= item.default_price %></td>
        <td>
          <% if item.available %>
              <p style="color:green;line-height:0px;">Yes</p>
          <% else %>
                <p style="color:red;">No</p>
            <%end %>
            </td>
        
        
        <% if item.available %>
          <td><%= link_to 'Deactivate', item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        
          <td><%= link_to 'Activate', item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end %>

        </tr>
  
        
      <% end %>
    </tbody>
    
</table>
            </div>
        
          </div> 
        
      </div>