<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <h3 class="col-11">Referring Doctors</h3>
          <button  class='btn btn-success' style="border-radius: 50%;line-height: 0px;color:white"><a style="color:white;" href=<%=new_referring_doctor_path%>><i class="material-icons">add</i></a></button>
          <%# <%= link_to 'New Referring Doctor', new_referring_doctor_path, class: 'btn btn-success' %>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-condensed table-hover">
          <thead >
            <tr>
              <th>Name</th>
              <th>Clinic</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Phone</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody class="table-striped table-hover">
            <% @referring_doctors.each do |referring_doctor| %>
              <tr style="cursor: pointer;" data-toggle="collapse" data-target="#demo<%=referring_doctor.id%>" class="accordion-toggle">
                <td><%= referring_doctor.name %></td>
                <td><%= referring_doctor.clinic %></td>
                <td><%= referring_doctor.email %></td>
                <td><%= referring_doctor.mobile %></td>
                <td><%= referring_doctor.phone %></td>
                <td><%= link_to edit_referring_doctor_path(referring_doctor) do %>
                    <i class="material-icons">edit</i>
                  <%end %>
                </td>
              </tr>
              <tr>
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="demo<%=referring_doctor.id%>">
                    <p>Address: <%= referring_doctor.address %></p>
                    <p>BirthDate: <%= referring_doctor.birthdate %></p>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <br>
  </div>
